*{
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  background: #FFFFFA;
  font-family: "Verdana", serif;
}

header{
  width: 100%;
}

header nav{
  width: 90%;
  max-width: 1000px;
  margin: 0px;
  background: #83C3EA;
}

.menu_bar{
  display: none;
  width: 100%;
}

header nav ul{
  overflow: hidden;
  list-style: none;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  color: #fff;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}

header nav ul li i{
  margin-right: 10px;
}

header nav ul li a:hover{
  width: 100%;
  background: #3987B7;
}
.cuerpo{
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  background: #EAEAEA;
}
.cuerpo .galeria_fotos img{
  width: 300px;
  height: 500px;
}


@media (max-width:780px) {
  header nav{
    width: 60%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li{
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Verdana", serif;
  }

  .menu_bar{
    display: flex;
    width: 100%;
    background: #83C3EA;

  }

  .menu_bar .btn-menu{
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
    background: #83C3EA;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6em;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }

  .btn-menu i{
    float: left;
    margin: 5px;
  }
  .btn-chat i{
    float: right;
    margin: 5px;
  }

  .logo-menus img{
    display: flex;
    flex-flow: row;
    margin-left: 145%;
    padding: 10px;
    width: 45px;
    height: 45px;
  }

  .menu_bar .btn-chat{
    display: flex;
    flex-flow: row ;
    padding: 15px;
    float: right;
    margin-left: 50%;
    background: #83C3EA;
    color: #fff;
    font-size: 2em;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }


  .galeria_fotos{
    display: block;
    width: 300px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 10px;
  }

  .muestra_foto img{
    width: 300px;
    height: 500px;
  }

}
